{% extends "Ygo/base.html.twig" %}

{% block title %}Ygo Cookbook{% endblock %}

{% block body %}
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <p>pepe luis</p>
    </div>
{% endblock %}
